In [3]:
# Step 1: Import Required Libraries
import numpy as np
import pandas as pd
import yfinance as yf

In [4]:
# Step 2: Create a Ticker object for the stock
ticker_symbol = "AAPL"  # Change this to any stock symbol
stock = yf.Ticker(ticker_symbol)

# Get basic stock info
print(f"Stock: {ticker_symbol}")
print(f"Current Price: ${stock.info.get('currentPrice', 'N/A')}")

Stock: AAPL
Current Price: $275.5

In [5]:
# Step 3: Get all available expiration dates
expiration_dates = stock.options
print(f"Available expiration dates ({len(expiration_dates)} total):")
for date in expiration_dates[:10]:  # Show first 10
    print(f"  {date}")
if len(expiration_dates) > 10:
    print(f"  ... and {len(expiration_dates) - 10} more")

Available expiration dates (24 total):
  2026-02-13
  2026-02-18
  2026-02-20
  2026-02-23
  2026-02-25
  2026-02-27
  2026-03-06
  2026-03-13
  2026-03-20
  2026-03-27
  ... and 14 more

In [6]:
# Step 4: Get options chain for a specific expiration date
expiry = expiration_dates[0]  # Use the nearest expiration date
options_chain = stock.option_chain(expiry)

print(f"Options chain for expiration: {expiry}")
print(f"Number of calls: {len(options_chain.calls)}")
print(f"Number of puts: {len(options_chain.puts)}")

Options chain for expiration: 2026-02-13
Number of calls: 58
Number of puts: 54

In [7]:
# Step 5: View CALLS data
calls = options_chain.calls
print("CALL Options Data Columns:")
print(calls.columns.tolist())
print("\n")
calls.head(10)

CALL Options Data Columns:
['contractSymbol', 'lastTradeDate', 'strike', 'lastPrice', 'bid', 'ask', 'change', 'percentChange', 'volume', 'openInterest', 'impliedVolatility', 'inTheMoney', 'contractSize', 'currency']

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL260213C00110000,2026-02-10 15:09:40+00:00,110.0,165.02,164.40,167.40,0.0,0.0,2.0,2,5.746097,True,REGULAR,USD
1,AAPL260213C00120000,2026-02-03 14:50:41+00:00,120.0,149.55,154.40,157.40,0.0,0.0,NaN,0,5.242191,True,REGULAR,USD
2,AAPL260213C00140000,2026-02-04 15:02:55+00:00,140.0,136.17,134.10,137.40,0.0,0.0,1.0,0,4.070317,True,REGULAR,USD
3,AAPL260213C00150000,2026-01-30 20:30:54+00:00,150.0,110.00,124.45,127.45,0.0,0.0,2.0,0,4.015630,True,REGULAR,USD
4,AAPL260213C00160000,2026-02-03 17:17:22+00:00,160.0,109.18,114.45,117.45,0.0,0.0,4.0,0,3.632813,True,REGULAR,USD
5,AAPL260213C00185000,2026-02-06 15:41:59+00:00,185.0,94.32,89.45,92.55,0.0,0.0,1.0,5,2.812503,True,REGULAR,USD
6,AAPL260213C00190000,2026-01-30 19:00:02+00:00,190.0,67.58,84.15,87.45,0.0,0.0,2.0,4,2.441410,True,REGULAR,USD
7,AAPL260213C00200000,2026-02-06 20:42:54+00:00,200.0,77.35,74.05,77.45,0.0,0.0,225.0,0,2.083989,True,REGULAR,USD
8,AAPL260213C00205000,2026-02-09 16:54:13+00:00,205.0,67.95,69.15,72.55,0.0,0.0,4.0,4,2.048833,True,REGULAR,USD
9,AAPL260213C00210000,2026-02-09 16:44:52+00:00,210.0,63.50,63.95,67.45,0.0,0.0,2.0,2,1.746095,True,REGULAR,USD

In [8]:
# Step 6: View PUTS data
puts = options_chain.puts
puts.head(10)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL260213P00110000,2026-01-29 17:34:41+00:00,110.0,0.01,0.0,0.01,0.0,0.0,NaN,2,3.750001,False,REGULAR,USD
1,AAPL260213P00120000,2026-02-11 16:02:47+00:00,120.0,0.01,0.0,0.01,0.0,0.0,1.0,0,3.375002,False,REGULAR,USD
2,AAPL260213P00135000,2026-01-20 20:03:00+00:00,135.0,0.01,0.0,0.01,0.0,0.0,NaN,1,2.875003,False,REGULAR,USD
3,AAPL260213P00140000,2026-02-05 16:49:30+00:00,140.0,0.01,0.0,0.01,0.0,0.0,NaN,226,2.750003,False,REGULAR,USD
4,AAPL260213P00150000,2026-02-06 20:53:39+00:00,150.0,0.01,0.0,0.01,0.0,0.0,750.0,759,2.500004,False,REGULAR,USD
5,AAPL260213P00155000,2026-01-26 15:25:42+00:00,155.0,0.02,0.0,0.01,0.0,0.0,NaN,11,2.375004,False,REGULAR,USD
6,AAPL260213P00160000,2026-02-05 16:50:29+00:00,160.0,0.02,0.0,0.01,0.0,0.0,1.0,153,2.250004,False,REGULAR,USD
7,AAPL260213P00165000,2026-02-05 16:50:08+00:00,165.0,0.02,0.0,0.01,0.0,0.0,1.0,267,2.125005,False,REGULAR,USD
8,AAPL260213P00170000,2026-02-05 16:55:14+00:00,170.0,0.01,0.0,0.01,0.0,0.0,3.0,119,2.000005,False,REGULAR,USD
9,AAPL260213P00175000,2026-02-02 16:25:02+00:00,175.0,0.02,0.0,0.01,0.0,0.0,412.0,438,1.875001,False,REGULAR,USD

In [9]:
# Step 7: Key columns explained
# - strike: Strike price of the option
# - lastPrice: Last traded price
# - bid: Current bid price
# - ask: Current ask price
# - volume: Trading volume
# - openInterest: Open interest (number of open contracts)
# - impliedVolatility: Implied volatility
# - inTheMoney: Boolean - whether option is ITM

# Select key columns for analysis
key_columns = ['strike', 'lastPrice', 'bid', 'ask', 'volume', 'openInterest', 'impliedVolatility', 'inTheMoney']
calls[key_columns].head(10)

,strike,lastPrice,bid,ask,volume,openInterest,impliedVolatility,inTheMoney
0,110.0,165.02,164.40,167.40,2.0,2,5.746097,True
1,120.0,149.55,154.40,157.40,NaN,0,5.242191,True
2,140.0,136.17,134.10,137.40,1.0,0,4.070317,True
3,150.0,110.00,124.45,127.45,2.0,0,4.015630,True
4,160.0,109.18,114.45,117.45,4.0,0,3.632813,True
5,185.0,94.32,89.45,92.55,1.0,5,2.812503,True
6,190.0,67.58,84.15,87.45,2.0,4,2.441410,True
7,200.0,77.35,74.05,77.45,225.0,0,2.083989,True
8,205.0,67.95,69.15,72.55,4.0,4,2.048833,True
9,210.0,63.50,63.95,67.45,2.0,2,1.746095,True

In [10]:
# Step 8: Filter options near the money (ATM)
current_price = stock.info.get('currentPrice', stock.history(period='1d')['Close'].iloc[-1])
print(f"Current stock price: ${current_price:.2f}")

# Filter calls within 10% of current price
atm_calls = calls[(calls['strike'] >= current_price * 0.9) & 
                  (calls['strike'] <= current_price * 1.1)]
print(f"\nATM Calls (strike within 10% of current price):")
atm_calls[key_columns]

Current stock price: $275.50

ATM Calls (strike within 10% of current price):

,strike,lastPrice,bid,ask,volume,openInterest,impliedVolatility,inTheMoney
23,250.0,27.75,25.55,26.40,31.0,3843,0.865236,True
24,252.5,27.50,22.20,24.70,1.0,413,0.785158,True
25,255.0,21.25,20.25,21.65,149.0,1139,0.715335,True
26,257.5,18.76,17.95,18.85,159.0,693,0.626957,True
27,260.0,16.60,15.45,16.35,717.0,2288,0.556645,True
28,262.5,14.16,12.85,13.85,1130.0,1637,0.602543,True
29,265.0,11.00,10.75,11.10,2382.0,3503,0.464361,True
30,267.5,8.65,8.45,8.65,1370.0,2774,0.394537,True
31,270.0,6.50,6.20,6.45,5133.0,4885,0.361335,True
32,272.5,4.44,4.25,4.35,2005.0,2507,0.318366,True
33,275.0,2.61,2.58,2.63,20224.0,10330,0.291755,True
34,277.5,1.36,1.35,1.40,24436.0,7721,0.276863,False
35,280.0,0.62,0.60,0.63,52260.0,26457,0.265632,False
36,282.5,0.27,0.24,0.26,14951.0,8199,0.264656,False
37,285.0,0.11,0.10,0.11,19677.0,19453,0.273445,False
38,287.5,0.06,0.04,0.05,7557.0,3523,0.287117,False
39,290.0,0.02,0.02,0.03,19789.0,11513,0.312507,False
40,292.5,0.02,0.01,0.02,2122.0,2298,0.339850,False
41,295.0,0.01,0.00,0.02,670.0,7682,0.378912,False
42,297.5,0.02,0.00,0.02,172.0,902,0.421881,False
43,300.0,0.01,0.00,0.01,236.0,5588,0.429693,False
44,302.5,0.02,0.00,0.02,1.0,184,0.500005,False

In [11]:
# Step 9: Get options data for multiple expiration dates
all_calls = []
all_puts = []

# Get options for first 3 expiration dates
for expiry in expiration_dates[:3]:
    opt = stock.option_chain(expiry)
    
    # Add expiration date column
    opt.calls['expiration'] = expiry
    opt.puts['expiration'] = expiry
    
    all_calls.append(opt.calls)
    all_puts.append(opt.puts)

# Combine all data
combined_calls = pd.concat(all_calls, ignore_index=True)
combined_puts = pd.concat(all_puts, ignore_index=True)

print(f"Combined calls: {len(combined_calls)} contracts across {len(expiration_dates[:3])} expirations")
print(f"Combined puts: {len(combined_puts)} contracts across {len(expiration_dates[:3])} expirations")

Combined calls: 168 contracts across 3 expirations
Combined puts: 151 contracts across 3 expirations

In [14]:
# Step 10: Get other relevant data for options pricing

# Historical volatility (using 1 year of daily returns)
hist = stock.history(period="1y")
daily_returns = hist['Close'].pct_change().dropna()
historical_vol = daily_returns.std() * np.sqrt(252)  # Annualized volatility

print("=" * 50)
print("ADDITIONAL DATA FOR OPTIONS PRICING")
print("=" * 50)
print(f"\nStock: {ticker_symbol}")
print(f"Current Price: ${current_price:.2f}")
print(f"Historical Volatility (1Y): {historical_vol:.2%}")
print(f"52-Week High: ${hist['High'].max():.2f}")
print(f"52-Week Low: ${hist['Low'].min():.2f}")

# Dividend info (if available)
dividends = stock.dividends
if len(dividends) > 0:
    # Filter dividends from the last year
    one_year_ago = pd.Timestamp.now(tz=dividends.index.tz) - pd.DateOffset(years=1)
    recent_dividends = dividends[dividends.index >= one_year_ago]
    annual_dividend = recent_dividends.sum()
    dividend_yield = annual_dividend / current_price
    print(f"Dividend Yield: {dividend_yield:.2%}")
else:
    print("Dividend Yield: N/A (no dividends)")

print(f"\nRisk-free rate: Use current Treasury yields (e.g., 10Y ~4-5%)")

==================================================
ADDITIONAL DATA FOR OPTIONS PRICING
==================================================

Stock: AAPL
Current Price: $275.50
Historical Volatility (1Y): 31.80%
52-Week High: $288.35
52-Week Low: $168.48
Dividend Yield: 0.38%

Risk-free rate: Use current Treasury yields (e.g., 10Y ~4-5%)

In [13]:
# Step 11: Save options data to CSV (optional)
# Uncomment to save
# combined_calls.to_csv(f'{ticker_symbol}_calls.csv', index=False)
# combined_puts.to_csv(f'{ticker_symbol}_puts.csv', index=False)

# View the full combined calls dataset
combined_calls[['expiration', 'strike', 'lastPrice', 'bid', 'ask', 'volume', 'openInterest', 'impliedVolatility']].head(20)

,expiration,strike,lastPrice,bid,ask,volume,openInterest,impliedVolatility
0,2026-02-13,110.0,165.02,164.40,167.40,2.0,2,5.746097
1,2026-02-13,120.0,149.55,154.40,157.40,NaN,0,5.242191
2,2026-02-13,140.0,136.17,134.10,137.40,1.0,0,4.070317
3,2026-02-13,150.0,110.00,124.45,127.45,2.0,0,4.015630
4,2026-02-13,160.0,109.18,114.45,117.45,4.0,0,3.632813
5,2026-02-13,185.0,94.32,89.45,92.55,1.0,5,2.812503
6,2026-02-13,190.0,67.58,84.15,87.45,2.0,4,2.441410
7,2026-02-13,200.0,77.35,74.05,77.45,225.0,0,2.083989
8,2026-02-13,205.0,67.95,69.15,72.55,4.0,4,2.048833
9,2026-02-13,210.0,63.50,63.95,67.45,2.0,2,1.746095
10,2026-02-13,215.0,62.72,59.30,62.55,2.0,10,1.822267
11,2026-02-13,217.5,56.20,56.70,60.05,NaN,0,1.712892
12,2026-02-13,220.0,53.51,54.20,57.40,1.0,20,1.580080
13,2026-02-13,225.0,55.05,50.05,51.85,2.0,37,1.552737
14,2026-02-13,227.5,45.95,47.10,50.05,43.0,43,1.554690
15,2026-02-13,230.0,44.00,44.75,47.35,2.0,44,1.468753
16,2026-02-13,232.5,37.65,41.70,44.95,1.0,0,1.263676
17,2026-02-13,235.0,43.45,39.40,42.55,7.0,23,1.285160
18,2026-02-13,237.5,39.65,37.10,39.75,16.0,3,1.188481
19,2026-02-13,240.0,35.86,34.25,37.50,10.0,164,1.092778